body {
  background: #f3f3f3;
}

.na-text span {
  display: none;
  font-size: large;
  font-weight: 800;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.na-text:hover i {
  display: none;
}

.na-text:hover {
  color: rgb(212, 111, 111);
}

.na-text:hover span {
  display: block;
}

.card-child {
  margin-bottom: 20px;
}
